

body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url(bg.png);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    
}

#signup{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#login{
    padding-top: 72px;
    display: none;
    align-items: center;
    justify-content: space-between;
    
}
#securedPage{
    display: none;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
    
}

.loginform{
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 50px;
    margin-right: 110px;
    background-color: #39cb6a5b;
    border: 1px solid white;
    border-radius: 30px;
    height: fit-content;
    width: fit-content;
}
.welcomePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 50px;
    background-color: #39cb6a5b;
    border: 1px solid white;
    border-radius: 30px;
    
}

h1{
    color: white;
    margin: 0px;
}
p{
    color: white;
    margin-top: 0px;
}

.titles{
    font-family: monospace;
    color: white;
    font-weight: 100;
    font-size: larger;
    padding: 2px;
}
input{
    padding: 6px;
    outline: none;
    color: white;
    font-size: 15px;
    border: 2px solid white;
    background-color: #39cb6a18;
    margin-bottom: 10px;
    border-radius: 100px;
}
input::placeholder{
    color: white;
    opacity: 1;
}
button{
    padding: 10px;
    color: white;
    border: 2px solid white;
    background: rgba(172, 255, 47, 0.315);
    border-radius: 100px;
}
button:hover{
    padding: 10px;
    color:black;
    border: 2px solid rgb(243, 243, 243);
    background: white;
    border-radius: 100px;
}
.logout{
    padding-right: 100px;
    padding-left: 100px;
}
.logout:hover{
    padding-right: 100px;
    padding-left: 100px;
}